<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Reception</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>How do I get there?</h2>
        <p>The Reception will be held at The Pearl at Crawford Farm in Hamilton, MO. Join the fun! <%= link_to 'Google Maps', @the_pearl_url %></p>
        <p>There is ample parking. Watch out for little ones!</p>

        <h2>Coming from out of town?</h2>
        <p>The station has a number of rooms that you can get at the <strong>discounted wedding rate</strong>.</p>
        <p>Check in is from 3pm, so you may not be able to get ready in your room if you book it just for the night of the wedding.</p>
      </div>
    </div>
  </div>
</section>
